.top_atention{
	font-size: 16px;
	line-height: 20px;
	min-height: 64px;
	padding: 17px 15px;
}
.top_atention div {
	display: flex;
	justify-content: space-between;
}
.top_atention .top_atention-item {
	margin-top: 9px;
	color: #fff;
}
.top_atention .read_more {
	padding: 0 30px;
	margin-top: 4px;
	display: block;
}
.top_atention .read_more a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid;
	padding: 0 0 5px 0;
}

@media screen and (max-width: 768px) {
	
}
@media screen and (max-width: 440px) {
	.top_atention div {	display: block;	}
	.top_atention .read_more {	padding: 7px 0px 0;}
}